<div class="container-login">
  <div class="login">
     <div class="text-center">
      <h2 class="text-info"><i class="fa fa-unlock "></i></h2>
       <h4>LOGIN </h4>
       <p ><span>Already have an account? </span></p>
       <div *ngIf="error" class="alert alert-danger mt-3 mb-0 ">
           <strong>Sorry!</strong> {{error}}
       </div>
       <!-- <div  style="font-size: 58px;  color: #34a2b7;"*ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
     </div>
 
     <div class="">
         <form class="login-form " [formGroup]="loginForm" (submit)="onSubmit()">
             <div class="form-group">
                <label for="username"> <i class="fa fa-user"></i> Username</label>
                <input type="text" placeholder="Enter username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': this.loginForm.controls.username.hasError('required') }" autofocus>
                 <div *ngIf="this.loginForm.controls.username.touched && this.loginForm.controls.username.hasError('required')" class="invalid-feedback">Username is required</div>
             </div>
             <div class="form-group">
                 <label for="password"><i class="fa fa-lock"></i> Password</label>
                 <input type="password" placeholder="Enter password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': this.loginForm.controls.password.hasError('required') }" >
                 <div *ngIf="this.loginForm.controls.password.touched && this.loginForm.controls.password.hasError('required')" class="invalid-feedback">Password is required</div>
             </div>
             <div class="form-group">
               <button [disabled]="loginForm.invalid" class="btn btn-block btn-lg btn-info">
                   <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                   Login
               </button>
             </div>
                <div class="text-center">
                  <p (click)="reset()" class="text-info">Forgot Password?</p>
                </div>
         </form>
     </div>
 </div>
</div>
