<section class="bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="m-3">
                    <i>Armezo will be helpful for you to understand where your trends, now</i></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-deck">
                    <div class="card" *ngFor="let card of cardData">
                        <div class="card-body">
                            <h6 class="card-title"><img [src]="card.cardTitleImage" width="25">{{card.cardTitle}}</h6>
                            <h6 [ngClass]="card.cardSubheaderClass">{{card.cardSubheader}}</h6>
                            <p class="card-text">{{card.cardText}}</p>
                            <a *ngFor="let cd of card.links" href="#" [ngClass]="cd.class"><fa-icon [icon]="cd.iconClass"
                                    aria-hidden="true"></fa-icon>{{cd.name}}</a>&nbsp;
                            <span *ngIf="card.spanText" [ngClass]="card.spanText.class">{{card.spanText.text}}</span>
                        </div>
                    </div>
                    <!-- <div class="card">
                        <div class="card-body">
                        <h6 class="card-title"><img src="../assets/complete.png" width="25"> Completed Survey</h6>
                        <h6 class="text-success">Completed</h6>
                        <p class="card-text">Extend date and check your all completed surevy with all status score. Complete Details.</p>
                        <a href="#" class="btn btn-success btn-sm"><i class="fa fa-check" aria-hidden="true"></i> Completed Surevy </a>
                        <span class="badge text-success">Last Completed: TATA- 10th May 2019</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>