<section class="bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5  class="m-3">
                <i>Armezo will be helpful for you to understand where your trends, now</i></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                        <h6 class="card-title"><img src="../assets/start.png" width="25"> Create a new Survey</h6>
                        <h6 class="text-secondary">Stary Survey?</h6>
                        <p class="card-text">Create your new survey for taking feedback of your users with online coversation.</p>
                        <a href="#" class="btn btn-secondary btn-sm"><i class="fa fa-paper-plane" aria-hidden="true"></i> Create New</a>&nbsp;
                        <a href="#" class="btn btn-light btn-sm"><i class="fa fa-pause-circle" aria-hidden="true"></i> Draft Survey</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <h6 class="card-title"><img src="../assets/ongoing.png" width="25"> OnGoing Survey</h6>
                        <h6 class="text-warning">Live Survey</h6>
                        <p class="card-text">Check your ongoing survey for multiple online business persepective coversation.</p>
                        <a href="#" class="btn btn-warning btn-sm"> <i class="fa fa-list" aria-hidden="true"></i> Index Survey</a> 
                        <span class="badge text-warning">Last Publish: SBI- 25th Jan 2020</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <h6 class="card-title"><img src="../assets/complete.png" width="25"> Completed Survey</h6>
                        <h6 class="text-success">Completed</h6>
                        <p class="card-text">Extend date and check your all completed surevy with all status score. Complete Details.</p>
                        <a href="#" class="btn btn-success btn-sm"><i class="fa fa-check" aria-hidden="true"></i> Completed Surevy </a>
                        <span class="badge text-success">Last Completed: TATA- 10th May 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

