<header *ngIf="currentUser">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="../assets/logo.png" alt="user" width="120px">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <span class="user-text">Welcome </span>
        <span mat-button [matMenuTriggerFor]="menu" matTooltip="Logout"
          class="text-info">{{ name }}
          <img src="../../assets/armezologo - white.png" width="40" height="40" class="rounded-circle"></span>
        <mat-menu #menu="matMenu">
          <button class="save user-details" mat-menu-item (click)="resetPassword()"><i class="fa fa-keyboard-o"></i>
            Change Password</button>
          <button class="start user-details" mat-menu-item (click)="logoutProfile()"><i class="fa fa-lock"></i>
            Logout</button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
<!-- <mat-sidenav-content> -->
<!-- <mat-toolbar *ngIf="currentUser">
      <div class="example-sidenav-content">
          <img src="../assets/logo.png" alt="user" width="120px">
      </div>
      <span class="example-fill-remaining-space"></span>
      <span class="user-text">Welcome </span>
      <button mat-button [matMenuTriggerFor]="menu" matTooltip="Logout">{{ currentUser.firstName }}
        {{ currentUser.lastName }} <i class="fa fa-user" aria-hidden="true"></i></button>
      <mat-menu #menu="matMenu">
        <button class="save user-details" mat-menu-item (click)="resetPassword()"><i class="fa fa-keyboard-o"></i>
          Change Password</button>
        <button class="start user-details" mat-menu-item (click)="logoutProfile()"><i class="fa fa-lock"></i>
          Logout</button>
      </mat-menu>
    </mat-toolbar> -->

<div class="main-content">
  <router-outlet></router-outlet>
</div>